<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @manager.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @manager.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @manager.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @manager.phone %>
</p>

<p>
  <b>Photo:</b>
  <%= @manager.photo %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
